body {
  color: red;
  background-color: black;
}

h1 {
  color: red;
  font-family: "Allerta Stencil", Roboto, sans-serif;
}

a {
	color: red;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


p {
  font-family: Arial, Geneva, Helvetica;
  color: #eb4034;
}

hr {
  width: 50%;
  height: 2px;
  border-width: 0;
  background-color: #eb4034
}
